* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Mono', monospace;
  height: 100vh;
  background-color: #465efb;
  background-image: linear-gradient(to bottom right, #c2ffd8, #465efb);
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-center {
  background-color: white;
  width: 90vw;
  border-radius: 5px;
  margin: 0 auto;
  padding: 4rem 0;
  max-width: 650px;
}

h1 {
  color: #6ba3e8;
  font-weight: 600;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.input-container {
  display: flex;
  justify-content: center;
}

#text-input {
  margin-left: 2rem;
  width: 80%;
  border: none;
  background-color: #f3fafd;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

#text-input::placeholder {
  padding-left: 0.5rem;
}

.submit-btn {
  width: 20%;
  font-weight: 700;
  margin-right: 2rem;
  padding: 0.35rem;
  background-color: #6ba3e8;
  color: white;
  text-transform: uppercase;
  border: none;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
}

.list-container {
  width: 90%;
  margin: 2rem auto;
  padding: 0 1rem;
}

.list-item {
  display: flex;
  justify-content: start;
  flex-direction: row;
  margin: 1rem auto;
}

.checkbox {
  margin-top: 0.25rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

.checkbox:checked + span {
  text-decoration: line-through;
  color: #86828d;
}

.label {
  text-transform: capitalize;
  cursor: pointer;
}

.remove-btn {
  margin-left: auto;
  border: none;
  background-color: white;
  font-weight: bold;
  color: #86828d;
}

.btn:hover {
  cursor: pointer;
}

.clear-btn {
  display: none;
  padding: 0.45rem;
  margin: 4rem auto 0;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  background-color: #6ba3e8;
}
